<div class="modal-content">
    <div class="modal-title-div">
        <strong class="modal-title-name">Reactivation</strong>
        <button class="modal-exit" ng-click="modal.close()">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <form ng-submit="modal.reactivate()">
        <div class="modal-body">
            <div class="row bottom-margin">
                <div class="col-md-12">
                    <textarea type="text" class="form-control none" rows="5" placeholder="Reason of Reactivation" ng-model="modal.variables.reasonofreactivation" autofocus></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-warning">
                        <i class="fa fa-save fa-fw"></i>Reactivate
                    </button>
                    <button type="button" class="btn btn-default" ng-click="modal.close()">
                        <i class="fa fa-times fa-fw"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>