<div class="modal-content">
    <div class="modal-title-div">
        <strong class="modal-title-name">Change active rate for selected activity</strong>
        <button class="modal-exit" ng-click="modal.close()">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <form ng-submit="modal.save()">
        <div class="modal-body">
            <div class="row">
                <!-- <div class="col-sm-3">
                    <div class="group-input">
                        <input type="text" class="form-control form-control-sm" ng-model="modal.variables.location_fr_mg" required disabled placeholder="Location">
                        <div class="button-group-append">
                            <button type="button" class="btn" ng-click="modal.searchLocation()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div> -->
                <div class="col-sm-9">
                    <div class="group-input">
                        <input type="text" class="form-control form-control-sm" ng-model="modal.variables.activity" required disabled placeholder="Activity">
                        <div class="button-group-append">
                            <button type="button" class="btn" ng-click="modal.searchActivity()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm" ng-model="modal.variables.unit" required placeholder="Unit">
                </div>
                <!-- <div class="col-sm-6">
                    <div class="group-input">
                        <input type="text" class="form-control form-control-sm" ng-model="modal.variables.gl_fr_mg" required disabled placeholder="GL">
                        <div class="button-group-append">
                            <button type="button" class="btn" ng-click="modal.searchGL()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-sm-3">
                    <div class="group-input">
                        <input type="text" class="form-control form-control-sm" ng-model="modal.variables.costcenter__" required disabled placeholder="Cost Center">
                        <div class="button-group-append">
                            <button type="button" class="btn" ng-click="modal.searchCC()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div> -->
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <span class="badge badge-info badge-pill">Regular Day</span>
                </div>
                <div class="col-sm-2">
                    <label for="rd_rate">RATE</label>
                    <input type="text" name="rd_rate" class="form-control form-control-sm" ng-model="modal.variables.rd_rate" only-numbers>
                </div>
                <!-- <div class="col-sm-2">
                    <label for="rd_ot">OT</label>
                    <input type="text" name="rd_ot" class="form-control form-control-sm" ng-model="modal.variables.rd_ot" only-numbers>
                </div>
                <div class="col-sm-2">
                    <label for="rd_nd">ND</label>
                    <input type="text" name="rd_nd" class="form-control form-control-sm" ng-model="modal.variables.rd_nd" only-numbers>
                </div>
                <div class="col-sm-2">
                    <label for="rd_ndot">NDOT</label>
                    <input type="text" name="rd_ndot" class="form-control form-control-sm" ng-model="modal.variables.rd_ndot" only-numbers>
                </div> -->
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <span class="badge badge-info badge-pill">Special Holiday</span>
                </div>
                <div class="col-sm-2">
                    <label for="shol_rate">RATE</label>
                    <input type="text" name="shol_rate" class="form-control form-control-sm" ng-model="modal.variables.shol_rate" only-numbers>
                </div>
                <!-- <div class="col-sm-2">
                    <label for="shol_ot">OT</label>
                    <input type="text" name="shol_ot" class="form-control form-control-sm" ng-model="modal.variables.shol_ot" only-numbers>
                </div>
                <div class="col-sm-2">
                    <label for="shol_nd">ND</label>
                    <input type="text" name="shol_nd" class="form-control form-control-sm" ng-model="modal.variables.shol_nd" only-numbers>
                </div>
                <div class="col-sm-2">
                    <label for="shol_ndot">NDOT</label>
                    <input type="text" name="shol_ndot" class="form-control form-control-sm" ng-model="modal.variables.shol_ndot" only-numbers>
                </div> -->
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <span class="badge badge-info badge-pill">Special Holiday on Rest Day</span>
                </div>
                <div class="col-sm-2">
                    <label for="rd_rate">ST</label>
                    <input type="text" name="shrd_rate" class="form-control form-control-sm" ng-model="modal.variables.shrd_rate" only-numbers>
                </div>
                <!-- <div class="col-sm-2">
                    <label for="rd_ot">OT</label>
                    <input type="text" name="shrd_ot" class="form-control form-control-sm" ng-model="modal.variables.shrd_ot" only-numbers>
                </div>
                <div class="col-sm-2">
                    <label for="fname">ND</label>
                    <input type="text" name="shrd_nd" class="form-control form-control-sm" ng-model="modal.variables.shrd_nd" only-numbers>
                </div>
                <div class="col-sm-2">
                    <label for="fname">NDOT</label>
                    <input type="text" name="shrd_ndot" class="form-control form-control-sm" ng-model="modal.variables.shrd_ndot" only-numbers>
                </div> -->
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <span class="badge badge-info badge-pill">Regular Holiday</span>
                </div>
                <div class="col-sm-2">
                    <label for="rhol_rate">RATE</label>
                    <input type="text" name="rhol_rate" class="form-control form-control-sm" ng-model="modal.variables.rhol_rate" only-numbers>
                </div>
                <!-- <div class="col-sm-2">
                    <label for="rhol_ot">OT</label>
                    <input type="text" name="rhol_ot" class="form-control form-control-sm" ng-model="modal.variables.rhol_ot" only-numbers>
                </div>
                <div class="col-sm-2">
                    <label for="rhol_nd">ND</label>
                    <input type="text" name="rhol_nd" class="form-control form-control-sm" ng-model="modal.variables.rhol_nd" only-numbers>
                </div>
                <div class="col-sm-2">
                    <label for="rhol_ndot">NDOT</label>
                    <input type="text" name="rhol_ndot" class="form-control form-control-sm" ng-model="modal.variables.rhol_ndot" only-numbers>
                </div> -->
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <span class="badge badge-info badge-pill">Regular Holiday on Rest Day</span>
                </div>
                <div class="col-sm-2">
                    <label for="rhrd_rate">RATE</label>
                    <input type="text" name="rhrd_rate" class="form-control form-control-sm" ng-model="modal.variables.rhrd_rate" only-numbers>
                </div>
                <!-- <div class="col-sm-2">
                    <label for="rd_ot">OT</label>
                    <input type="text" name="rhrd_ot" class="form-control form-control-sm" ng-model="modal.variables.rhrd_ot" only-numbers>
                </div>
                <div class="col-sm-2">
                    <label for="fname">ND</label>
                    <input type="text" name="rhrd_nd" class="form-control form-control-sm" ng-model="modal.variables.rhrd_nd" only-numbers>
                </div>
                <div class="col-sm-2">
                    <label for="fname">NDOT</label>
                    <input type="text" name="rhrd_ndot" class="form-control form-control-sm" ng-model="modal.variables.rhrd_ndot" only-numbers>
                </div> -->
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save fa-fw"></i>Save</button>
                <button type="button" class="btn btn-clear" ng-click="modal.close()">
                    <i class="fa fa-times fa-fw"></i>Close</button>
            </div>
        </div>
    </form>
</div>