<div class="modal-content">
    <div class="modal-title-div">
        <strong class="modal-title-name">CostCenter List</strong>
        <button class="modal-exit" ng-click="modal.close()">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row bottom-margin">
            <div class="col-md-6">
                <strong>Search List</strong>
                <input type="text" ng-model="modal.search" ng-change="modal.searching()" class="form-control">
            </div>
            <div class="col-md-6 text-right">
                <br>
                <button type="button" class="btn btn-sm btn-warning" ng-click="modal.refresh()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="height:400px;" ng-if="modal.loading">
                <div class="text-center" style="margin:5% auto;">
                    <h5 style="color:red;text-align:center;">{{modal.loading}}</h5>
                    <img src="/epis/static/img/loading.gif">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-if="!modal.loading">
                <div class="modal-grid-with-buttons bottom-margin" style="height:400px;" ui-grid="modal.defaultGrid" ui-grid-selection ui-grid-resize-columns></div>
            </div>
        </div>
    </div>
</div>