<div class="container-fluid" ng-controller="OCLABNOTINCTRL as vm">
    <div class="row">
        <div class="col-md-12">
            <div class="card full-width">
                <div class="card-header">
                    <h3 class="card-title">LABNOTIN</h3>
                </div>
                <div class="card-body">
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="group-input">
                                <input type="text" class="form-control form-control-sm" ng-model="vm.header.SOANo" required disabled placeholder="SOANo">
                                <div class="button-group-append">
                                    <button type="button" class="btn" ng-click="vm.searchHeader('update')">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <button type="button" class="btn btn-success" ng-disabled="vm.header.Status == 'TRANSMITTED'" ng-click="vm.newHeader('update')">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    </button><button type="button" ng-disabled="vm.header.Status == 'TRANSMITTED'" class="btn btn-danger" ng-click="vm.delete()">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    </button><button type="button" ng-disabled="vm.header.Status == 'TRANSMITTED'" class="btn btn-primary" ng-click="vm.newHeader('new')">
                                        <i class="fa fa-plus"></i> New Header
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="period_date" class="form-control form-control-sm" ng-model="vm.header.period_date" required disabled placeholder="Period">
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="paystation" class="form-control form-control-sm" ng-model="vm.header.Prepared_by" required disabled placeholder="Prepared By">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" name="period_date" class="form-control form-control-sm" ng-model="vm.header.Checked_by" required disabled placeholder="Checked By">
                        </div>
                        <div class="col-md-3">
                            <input type="text" name="paystation" class="form-control form-control-sm" ng-model="vm.header.Noted_by" required disabled placeholder="Noted By">
                        </div>
                        <div class="col-md-3">
                            <input type="text" name="period_date" class="form-control form-control-sm" ng-model="vm.header.Approved_by_2" required disabled placeholder="Checked By">
                        </div>
                        <div class="col-md-3">
                            <input type="text" name="period_date" class="form-control form-control-sm" ng-model="vm.header.Approved_by" required disabled placeholder="Approved By">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="text-danger"><b>{{vm.header.Status}}</b></h4>
                        </div>
                        <div class="col-md-2 text-right">
                            <h4 class="text-primary"><b>GROSS:</b></h4>
                        </div>
                        <div class="col-md-2 text-right">
                            <input type="text" name="period_date" class="form-control form-control-sm text-right" ng-model="vm.header.TotalGross" required disabled placeholder="Gross Billing" only-numbers-wo-negative>
                        </div>
                        <div class="col-md-3 text-right">
                            <h4 class="text-danger"><b>{{vm.header.admin_percentage}} % Admin Fee ({{vm.header.TotalAdminfee | number: 2}})</b></h4>
                        </div>
                        <div class="col-md-2 text-right">
                            <input type="text" name="period_date" class="form-control form-control-sm text-right" ng-model="vm.header.TotalBilling" required disabled placeholder="Total Billing" only-numbers-wo-negative>
                        </div>
                        <div class="col-md-12">
                            <div style="height: 300px;" ui-grid="vm.defaultGrid" ui-grid-selection ui-grid-resize-columns ui-grid-pinning></div>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info" ng-if="vm.header.Status != 'TRANSMITTED'" ng-click="vm.transmit()">
                                <i class="fa fa-sticky-note-o"></i> TRANSMIT LABNOTIN
                            </button>
                            <button class="btn btn-danger" ng-if="vm.header.Status == 'TRANSMITTED'" ng-click="vm.reactivate()">
                                <i class="fa fa-redo"></i> REACTIVATE LABNOTIN
                            </button>
                            <button class="btn btn-warning" ng-if="vm.header.Status == 'TRANSMITTED'" ng-click="vm.printPreview()">
                                <i class="fa fa-redo"></i> PRINT
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn float-right" ng-click="vm.clear()">
                                <i class="fa fa-eraser"></i> Clear
                            </button>
                            <button class="btn btn-secondary float-right" ng-disabled="vm.header.Status == 'TRANSMITTED'" ng-click="vm.addDetail('')">
                                <i class="fa fa-plus-circle"></i> Add Detail
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>