<div class="modal-content">
    <div class="modal-title-div">
        <strong class="modal-title-name">NEW SLERS</strong>
        <button class="modal-exit" ng-click="modal.close()">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <form ng-submit="modal.save()">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <label for="SOANo">SOANo</label>
                    <input type="text" name="SOANo" class="form-control form-control-sm" ng-model="modal.variables.SOANo" required disabled>
                </div>
                <div class="col-md-4">
                    <label for="period_date">Search Period</label>
                    <div class="group-input">
                        <input type="text" class="form-control form-control-sm" ng-model="modal.variables.period_date" required disabled>
                        <div class="button-group-append">
                            <button type="button" class="btn" ng-click="modal.searchPayrollPeriod()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="admin_percentage">Admin Percentage (%)</label>
                    <input type="text" name="admin_percentage" class="form-control form-control-sm" ng-model="modal.variables.admin_percentage" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="prepared_by">Prepared By</label>
                    <div class="group-input">
                        <input type="text" class="form-control form-control-sm" ng-model="modal.variables.Prepared_by" required disabled>
                        <div class="button-group-append">
                            <button type="button" class="btn" ng-click="modal.searchSig(1)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="checked_by">Noted By</label>
                    <div class="group-input">
                        <input type="text" class="form-control form-control-sm" ng-model="modal.variables.Noted_by" required disabled>
                        <div class="button-group-append">
                            <button type="button" class="btn" ng-click="modal.searchSig(2)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="checked_by">Checked By</label>
                    <div class="group-input">
                        <input type="text" class="form-control form-control-sm" ng-model="modal.variables.Checked_by" required disabled>
                        <div class="button-group-append">
                            <button type="button" class="btn" ng-click="modal.searchSig(3)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 col-md-offset-8">
                    <label for="approved_by">Approved By</label>
                    <div class="group-input">
                        <input type="text" class="form-control form-control-sm" ng-model="modal.variables.Approved_by" required disabled>
                        <div class="button-group-append">
                            <button type="button" class="btn" ng-click="modal.searchSig(4)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save fa-fw"></i>Save</button>
                <button type="button" class="btn btn-clear" ng-click="modal.close()">
                    <i class="fa fa-times fa-fw"></i>Close</button>
            </div>
        </div>
    </form>
</div>