<div class="container-fluid" ng-controller="LocationMasterCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <div class="card full-width">
                <div class="card-header">
                    <h3 class="card-title">Location Masterfile</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div style="height: 400px;" ui-grid="vm.defaultGrid" ui-grid-selection ui-grid-resize-columns></div>
                        </div>
                        <div class="col-md-6">
                            <form ng-submit="vm.save()">
                                <div class="row bottom-margin">
                                    <div class="col-md-6">
                                        <label for="fname">Location Name</label>
                                        <input type="text" ng-model="vm.variables.Location" class="form-control form-control-sm" required autofocus>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="fname">Prefix</label>
                                        <input type="text" ng-model="vm.variables.LocPrefix" class="form-control form-control-sm">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="fname">Code</label>
                                        <input type="text" ng-model="vm.variables.Code" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save fa-fw"></i>Save</button>
                                    <button type="button" class="btn btn-danger" ng-click="vm.delete()">
                                        <i class="fa fa-times fa-fw"></i>Delete</button>
                                    <button type="button" class="btn btn-default" ng-click="vm.clearFunction()">
                                        <i class="fa fa-times fa-fw"></i>Clear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>