<div class="modal-content">
    <div class="modal-title-div">
        <strong class="modal-title-name">Search Header</strong>
        <button class="modal-exit" ng-click="modal.close()">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row bottom-margin">
            <div class="col-md-4">
                <strong>Period:</strong>
                <div class="input-group">
                    <input type="month" class="form-control form-control-sm" ng-model="modal.variables.month" style="width:60%" required>
                    <select class="form-control form-control-sm" ng-model="modal.variables.period" style="width:30%" required>
                        <option ng-value="1">1</option>
                        <option ng-value="2">2</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <form ng-submit="modal.searching()">
                    <label>
                        <strong>Search by (
                            <select ng-model="modal.searchOptions" style="border:none;">
                                <option ng-value="1">SOA No.</option>
                                <option ng-value="2">Batch</option>
                            </select>
                            )</strong>
                    </label>
                    <input type="text" ng-if="modal.searchOptions == 1" class="form-control form-control-sm toUpper" ng-model="modal.search" ng-change="modal.getDefault()" autofocus>
                    <input type="text" ng-if="modal.searchOptions == 2" class="form-control form-control-sm toUpper" ng-model="modal.batchSearch" placeholder="Search Batch">
                </form>
            </div>
            <div class="col-md-4 text-right">
                <br>
                <button type="button" class="btn btn-warning" ng-click="modal.getActive()">Show All Active</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="height: 350px;" ui-grid="modal.defaultGrid" ui-grid-selection ui-grid-resize-columns></div>
            </div>
        </div>
    </div>
</div>